html, body {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    color: #1090ec;
}

body {
    background-color:rgb(100, 249, 194);
}

.texte {
    color:rgb(4, 4, 163) ; font-size: large;
}

.top-bar {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
   font-size: 20px;
   position: absolute;
   padding: 2px 20px 20px 20px;
   z-index: 3;
   color: #591349;
   font-weight: bold;
}

.top-menu {
   background-color: #18bc09;
   position: absolute;
   top: 85px;
   z-index: 2;
   width: 100%;
}

.top-menu ul {
    list-style-type: none;
    font-size: 20px; 
    float: right;
    margin-right: 20px;
}

.top-menu li {
    display: inline-block;
}

.top-menu li a:link, .top-menu li a:visited {
    color: rgb(245, 211, 16);
    text-decoration: none;
    padding: 20px 20px 20.5px 20px;
}

.top-menu li a:hover {
    background-color: rgb(239, 14, 97);
}

.current-page-link {
    background-color: #920151;
}

.titresophie {
    color: white; font-size: 35px;
}

.titre2 {
    color: rgb(35, 195, 253); font-size: 26px;
}

.iframe {
    border:0
}

.page-content {
    position: relative;
    top: 145px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(118, 250, 2);
    z-index: 1;
}

.main-section {
    padding: 10px 20px 10px 20px;
}

.main-section h1, .main-section h2 {
    color: rgb(224, 169, 5);
}

.main-section figure, .main-section img {
    display: block;
    margin: auto;
    width: 800px;
}

.footer {
    position: relative;
    top: 140px;
    z-index: 3;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#1887a3;
}

.footer-content {
    padding: 5px 5px 5px 20px;
    color: rgb(20, 184, 66);
}

.footer-content a:link {
    color: rgb(119, 195, 12);
    text-decoration: none;
}
